@import url("./tokens.css");

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body {
  font-family: var(--font-family-base);
  color: var(--color-neutral-900);
  background: var(--color-neutral-100);
  line-height: var(--line-height-normal);
}
a { color: var(--color-primary-700); text-decoration: none; }
a:hover { text-decoration: underline; }
h1,h2,h3,h4,p { margin: 0; }
button, input, select, textarea {
  font: inherit;
  color: inherit;
}
.hidden { display:none !important; }
